@import '../colors';

.footer {
  @apply mt-4;

  padding: 58px 10%;
  @screen md {
    padding: 58px 160px;
  }
  @screen lg {
    padding: 64px 180px;
  }
  @screen xl {
    padding: 76px 200px;
  }

  background-color: $alternate-background-color;

  @apply flex;
  @apply flex-wrap;
  @apply items-center;
  @apply justify-center;
  @apply md:justify-between;

  h4 {
    @apply text-lg;
    @apply m-4;
    @apply md:m-0;
    

    color: rgba(white, 0.7);
  }

  .socials{
    @apply flex;
  }
}