@import '../mixins';

.container{
  @include home-section;

  @apply w-10/12;
  @apply md:w-2/3;
  @apply lg:w-1/2;
  @apply mx-auto;
  @apply md:mx-16;
  @apply lg:mx-28;

  @apply flex;
  @apply flex-col;
  @apply flex-nowrap;

  @apply items-stretch;
  @apply md:items-start;

  h2 {
    @apply text-center;
    @apply md:text-left;
    @apply text-base;
    @apply md:text-3xl;

    strong {
      font-family: 'norse', serif;
    }
  }

  p{
    @apply text-sm;
    @apply md:text-2xl;
    @apply my-2;
    @apply md:my-5; 
  }
}


.socials {
  justify-content: center !important;
  @apply md:justify-start;
  @apply mt-6;
  @apply md:mt-12;
}

.runesIcons {
  position: absolute;
  z-index: -1;
  bottom: 130px;
  right: 50px;
  width: 80%;
  right:10%;
  
  @screen sm {
    bottom: 180px;
    right: 80px;
  }
  @screen md {
    right: 80px;
    width: 500px;
  }
  @screen lg {
    bottom: 200px;
    right: 100px;
    width: 600px;
  }
  @screen xl {
    right: 130px;
    width: 650px;
  }
  @screen 2xl {
    right: 160px;
  }

  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% { 
    margin-bottom: 0;
  }
  50% { 
    margin-bottom: -20px; 
  }
  100% { 
    margin-bottom: 0;
  }
}