@import '../mixins';

.container {
  @include home-section;

  margin-top:200px;
  @screen md {
    margin-top:300px;
  }

  @apply flex;
  @apply flex-wrap;
  @apply justify-center;
  @apply md:justify-between;

  max-width: 83.34%;
  @screen md {
    max-width: auto;
  }
  @apply mx-auto;
  @apply md:mx-16;
  @apply lg:mx-28;
}

.content {
  position: relative;
  
  @apply mx-auto;
  @apply md:mx-16;
  @apply lg:mx-28;

  min-width: 250px;
  max-width: 83.34%;
  @screen md {
    max-width: auto;
    min-width: 400px;
  }

  flex: 2;
  @apply flex;
  @apply flex-col;
  @apply flex-nowrap;

  h2 {
    @apply text-center;
    @apply md:text-left;
    @apply text-2xl;
    @apply md:text-4xl;

    strong {
      font-family: 'norse', 'Times New Roman', Times,serif;
    }
  }
}

.anchor {
  visibility: hidden;
  position: absolute;
  top:-110px;
  @screen md {
    top:-150px;
  }
}

@mixin chart-label($color) {
  color: $color;
  @apply text-base;
  @apply text-right;
  white-space: nowrap;
  font-weight: 700;
  position: absolute;
  right:53%;
}

.chart {
  transform: scale(0.7);
  @screen sm {
    transform: none;
  }

  margin: 50px auto 0;
  @screen md {
    margin: 50px 50px 0;
  }
  @screen lg {
    margin: 75px 100px 0;
  }
  @screen xl {
    margin: 100px 200px 0;
  }

  



  width:350px;
  height:350px;
  position: relative;

  svg {
    position:absolute;
    right:0;
    transform: rotate(-90deg);
  }

  .sales {
    @include chart-label(#0CDEE2);
    top:-8px;
  }
  .team {
    @include chart-label(#228EB0);
    top: 18px;
  }
  .airdrops {
    @include chart-label(#9E81E9);
    top: 43px;
  }
  .treasuries {
    @include chart-label(#BD3EE3);
    top: 68px;
  }
  .pools {
    @include chart-label(#AD27C2);
    top: 93px;
  }
  .presale {
    @include chart-label(#660CA4);
    top: 117px;
  }
}


.picture {
  @apply flex-1;
  @apply mx-auto;
  
  min-width: 60%;
  max-width: 65%;
  @screen md {
    min-width: 350px;
    max-width: 45%;
  }
}