$default-background-color: #ffffff;
$default-title-color:#00F08A;
$default-button-gradient: linear-gradient(70deg,#06cc7a,#06c978);
$alternate-button-gradient: linear-gradient(70deg,#06cc7a,#06c978);
$alternate-background-color: #1C2E5D;