$default-background-color: #1D0B1E;
$default-title-color:#00F08A;
$default-button-gradient: linear-gradient(70deg,#5B0998,#C835DA);
$alternate-button-gradient: linear-gradient(70deg,#5B0998,#0BCDD0);
$alternate-background-color: #2B112D;