@mixin hover-effect {
  transition: filter 150ms, box-shadow 150ms;
  &:hover{
    filter: brightness(0.90);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}

@mixin hover-darken {
  transition: filter 150ms;
  &:hover{
    filter: brightness(0.90);
  }
}

@mixin home-section {
  height: calc(100vh - 110px);
  margin-top: 110px;

  @screen md {
    height: calc(100vh - 150px);
    margin-top: 150px;
  }
}
